{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="userForm">
        <h1>Créer un nouveau user</h1>
        <div class="form-group">
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm)}}
            <div class="form-group btn-group">
             <button type="submit" class="btn">Register</button>
             {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>



{% endblock %}
