h1,h2,h3,h4,h5,h6{
    font-family: 'Exo', sans-serif;
}
header img{
    max-height: 100px;
    width: auto;

}

.sortiestyle{
    display: flex;
    justify-content: flex-start;
}

.sorticard{
    background-color: #ffffdd;
    border: #2e3136 solid ;
    padding: 1vh;
    border: 1.2vh;
}

.flash-success{
    font-size: 1.3em;
    background-color: #ffdd24;
    text-align: center;

}

table{
    margin-top: 2vh;
    padding: 0.5em;
    border-radius: 0.3vh;
    color: #00385b;
    background-color: #ffffdd;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.3);
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    border: solid;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Exo', sans-serif;

}
nav a{
    padding:0.5vh 1.6vh 0.5vh 1.6vh;
    font-size: 1.1em;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b solid;
    background-color: #ffffdd;
}
button{
    padding:0.5vh 1.6vh 0.5vh 1.6vh;
    font-size: 0.8em;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: #ffffdd;
    margin: 0.5vh;
}

select{

    margin: 0 1vh  0 1vh;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: #ffffdd;
}

input{
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.1em solid;
}
table td, table th{
    padding: 8px 14px ;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th{
    font-size: 1.2em;
}

.nomsortie{
    text-align: start;

}
nav{
    margin: 0 4vh 2vh 4vh;}

header{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #458d34;
    margin: 0 4vh 0 4vh;
}

main{

    padding: 3vh;
    border-radius: 1.2vh;
}

body{
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    font-family: 'Cantarell', sans-serif;

}

footer{
    margin-top: 5vh;
text-align: center;
}

.recherche{
    display: flex;
    justify-content: flex-start;
}