
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
}

header img {
    max-height: 150px;

}

.titresortiedetail {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 5vh;
}

a:hover {
    color: #448E36;
}

.sortiestyle {
    display: flex;
    justify-content: center;
}

.flash-success {
    font-size: 1.3em;
    background-color: #ffdd24;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.flash-error {
    font-size: 1.3em;
    background-color: orangered;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.flash-warning {
    font-size: 1.3em;
    background-color: orange;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Exo', sans-serif;

}

nav a {
    font-size: 1.4em;
    color: #1F3C7C;
    padding: 0.5vh;
}


button {
    padding: 0.5vh 1.6vh 0.5vh 1.6vh;
    font-size: 0.8em;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: #ffffdd;
    margin: 0.5vh;
}

select {

    margin: 0 1vh 0 1vh;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: white;
}

input {
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.1em solid;
}

table td, table th {
    padding: 8px 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.tabinfo table td, th {
    padding: 8px 14px;
    text-align: center;
}

.tabinfo td {
    padding-left: 3vh;
}


th {
    font-size: 1.2em;
}


.nomsortie {
    text-align: start;

}

nav {
    margin-right: 4vh;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: #458d34;
    padding: 2.4vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 1.2vh 0;
    margin-bottom: 2vh;
    max-height: 210px;

}


/*
.entete{ background-color : rgba(255,255,221,0.9);}
*/
main {

    padding: 4vh;
    border-radius: 1.2vh;
    margin: 0 5vh 0 5vh;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 48vh;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;

}

body {
    /* background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    */

    font-family: 'Cantarell', sans-serif;
    background-image: url("../img/fond1.png");


}

footer a {
    color: #1F3C7C;
}

footer {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #1F3C7C;

}

.recherche {
    display: flex;
    justify-content: flex-start;
}


.entete {
    display: flex;
    justify-content: space-between;
}

.sortiedetailhaut {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10vh 4vh 10vh;
}

.descriptionsortie {
    max-width: 30vh;
    font-size: 1em;

}

.descriptionsortielibelle {
    vertical-align: top;
}

.sortiedetailbas {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.annulersortie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 10vh 4vh 10vh;
}

.annulersortie .form-group .btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2vh;
}

.annulersortie .btnenregistrer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

.titreprofil {
    text-align: center;
    font-size: 2em;
}

.profiluser {
    display: flex;
    flex-wrap: wrap;
}

.profiluser {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px #448E36;
    padding: 2.3vh;
}

.enteteuser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgUser {

    max-height: 180px;
    min-height: 180px;
    max-width: 180px;
    min-width: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: #448E36 5px solid;
}

.titreprofil {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.infouser {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.infouser > div {
    margin-bottom: 10px;
}


.infouser button {
    margin-top: 10px;
}

.infousertxt p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.infousertxt label {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.infousertxt #text {
    display: flex;
    align-items: end;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: larger;
}

.container button[type="submit"] {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #458d34;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.titrelogin {
    margin-bottom: 3vh;
}

.sesouvenir {
    margin-bottom: 2vh;
}

.containersortie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.containersortie form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sortie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #448E36 5px solid;
    padding: 2vh;

}

.sortie-form label {
    font-weight: bold;
    margin-top: 1.5vh;
}

.sortie-form input,
.sortie-form select,
.sortie-form textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
}

.sortie-form input:focus,
.sortie-form select:focus,
.sortie-form textarea:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 3px 2px rgba(77, 144, 254, 0.2);
}

.sortie-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2vh;
}

.sortie-form .form-group input[type="number"] {
    width: auto;
}

.sortie-form .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.sortie-form .btnannuler {
    padding: 0.5vh 1.6vh 0.5vh 1.6vh;
    font-size: 0.8em;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: #ffffdd;
    text-align: center;
}


.sortie-form button {
    margin: 0;
}

.usernav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgUsernav {
    max-height: 60px;
    min-height: 60px;
    max-width: 60px;
    min-width: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: #448E36 2px solid;
    margin-right: 1vh;
}

.dropdown {
    margin-right: 5vh;
}

.dropdown-content {

    display: none;
    position: absolute;
    z-index: 4;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    font-size: medium;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
    color: #333;
}

.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #448E36 5px solid;
    padding: 3vh;
}

.userForm .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userForm label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.userForm input,
.userForm select,
.userForm textarea,
.userForm input[type="email"],
.userForminput[type="password"] {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;

}

.userForm input:focus,
.userForm select:focus,
.userForm textarea:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 3px 2px rgba(77, 144, 254, 0.2);
}

.userForm .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    width: 100%;
}

.userForm .form-group input[type="number"] {
    width: auto;
}

.userForm .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.userForm .btnannuler {
    padding: 0.5vh 1.6vh 0.5vh 1.6vh;
    font-size: 0.8em;
    border-radius: 0.3vh;
    color: #00385b;
    border: #00385b 0.15em solid;
    background-color: #ffffdd;
    text-align: center;
}

.userForm button {
    margin: 0;
}

.userForm .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2em;
}

.userForm .btn-group .btnenregistrer {

    text-align: center;
}

.userForm .btn-group .btnannuler {

    text-align: center;
}

.recherche {
    display: flex; /* affiche les éléments en ligne */
    flex-wrap: wrap; /* permet à la recherche de s'afficher sur plusieurs lignes */
    justify-content: space-around; /* répartit l'espace disponible entre les éléments */
    margin-right: 20vh;
    margin-left: 20vh;
    padding: 2vh;
    font-size: 0.8em;


}

.recherche label {
    margin-right: 10px; /* ajoute de l'espace entre les labels et les éléments de formulaire */
}


.recherchedate, .recherchecheck {
    display: flex; /* affiche les éléments en ligne */
    flex-wrap: wrap; /* permet à la recherche de s'afficher sur plusieurs lignes */
    justify-content: space-between; /* répartit l'espace disponible entre les éléments */
    align-items: center; /* aligne les éléments verticalement */
    margin-top: 10px; /* ajoute de l'espace entre les éléments */
}

.recherchedate label, .recherchecheck label {
    margin-right: 10px; /* ajoute de l'espace entre les labels et les éléments de formulaire */
}

.recherchecheck {
    display: flex; /* affiche les éléments en ligne */
    flex-wrap: wrap; /* permet à la recherche de s'afficher sur plusieurs lignes */
    justify-content: space-between; /* répartit l'espace disponible entre les éléments */
    align-items: center; /* aligne les éléments verticalement */
    flex-direction: column;
}

.recherchecheck label {
    margin-right: 10px; /* ajoute de l'espace entre les labels et les cases à cocher */
}

.recherchecheck input[type="checkbox"] {
    margin-right: 5px; /* ajoute de l'espace entre les cases à cocher */
}

.recherchecontenairun {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

}

.recherchecontenairdeux {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
}

.recherchebtn {
    text-align: center;
}