<footer>
Projet conçu par
    <a href="https://www.linkedin.com/in/andaine-tiphaigne/">Andaine</a> & <a href="https://www.linkedin.com/in/tan-latour-b1159b257/">Tan</a>
    <br>
{{ 'now' | date('Y') }}
</footer>