

{% extends 'base.html.twig' %}

{% block title %}PIRATE !{% endblock %}


{% block body %}
<div class="pirate">
    <h1>Vil Gredin ! </h1>
    <img alt="" src="{{ asset('img/pirate.png') }}" class="pirateimg">
    <h3>Vous n'êtes pas autorisez à faire ceci</h3>

    
    
    </div>

{% endblock %}